style {
  .marko-header {
    font-size: 2.5em;
    font-weight: 300;
    padding: 1em;
    line-height: 1.5em;
    text-align: center;
  }
  .logo {
    height: 2.2em;
  }
}

<header class="marko-header">
  <div>${input.title}</div>
</header>
